<extend name="index/Base" />
<block name="customer">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            product_add
        </section>
        <section class="content">
            test
        </section>
    </div>
    <script>
        $(document).ready(function(){
            var path=window.location.pathname;
            var lis=$('.sidebar-menu li');
//            console.log(lis);
            lis.each(function(i,val)
            {
                if($(val).find('a').attr('href')==path)
                {
                    $($('.sidebar-menu li')[i]).addClass('active').parents('li').addClass('active');
                    console.log($($('.sidebar-menu li')[i]).parents('li'));
                }
            })
        });
    </script>
</block>