<extend name="colleague/Index/Base" />
<block name="customer">

    <style>
        *{
            outline:none;
        }
        .pcontent{
            line-height:18pt;
            padding:10px;
        }
        .price li{
            border:0px;
            background:#f5f5f5;
            padding:0;
        }
        .pmeta{
            border-top:dashed 1px #ddd;
            border-bottom:dashed 1px #ddd;
        }
        .pmeta li{
            border:0px;
        }
        /*.pmeta li:hover{*/
            /*background:#f5f5f5;*/
            /*cursor:pointer;*/
        /*}*/
        .pmetaList{
            margin-bottom:16px;
            display:inline-block;
        }
        .pmetaList li{
            float:left;
            margin-right:10px;
            padding:6px 15px;
        }
        .pmetaList li.pm_option{
            padding:0;
        }
        .pmetaList li a{
            padding:6px 15px;
            font-style:normal;
            text-decoration: none;
            color:#666;
            display:block;

        }
        .pmetaList li:hover{
            background:#eeeeee;
            cursor:pointer;
        }
        .pmetaList .pm_name{
            border:0;
        }
        .pmetaList .pm_name:hover{
            background:none;
            cursor:default;

        }
        .pm_option{
            border-radius: 5px;
        }
        .btn-class .btn{
            width:200px;
        }
        .selected{
            border-color:red;
        }

    </style>
    <script type="text/html" id="tpl_standard">
        <li class="list-group-item pm_option">
            <span class="text-danger">
                <a href="javascript:;" class="standard" im_id="{im_id}">{product_standard}</a>
            </span>
        </li>
    </script>
    <script>
        //第一个是主表的主键ID，第二个是子表key，第三个是子表key对应的value，第四个是子表项目对应的父ID，第五个是子表主键ID
        //如果im_pid等于0，说明他是默认值
        var detail_data=[
                <foreach name="info_data_detail" item="info">
                [{$info.info_id},'{$info.im_key}','{$info.im_value}',{$info.im_pid},{$info.im_id}],
        </foreach>
        [-1,'','']
        ];
        var product_id={$info.info_id};
        /**
         * 根据主表ID，返回根据指定键返回的值
         * @param info_id
         * @param im_key
         * @param defaultValue
         * @returns {*}
         */
        function getMeta(info_id,im_key,defaultValue)
        {
            for(var i=0;i<detail_data.length;i++)
            {
                //pid即父ID必须为0才返回，pid=0时代表这是默认值，pid有值说明是用来给规格做价格联动的
                if(detail_data[i][0]==info_id && detail_data[i][1]==im_key && parseInt(detail_data[i][3])==0)return detail_data[i][2];
            }
            return defaultValue?defaultValue:0;
        }
        function getMetaList(info_id,im_key,tpl_id){
            var result='';
            var tpl_content=$('#'+tpl_id).html();       //模板内容
            for(var i=0;i<detail_data.length;i++)
            {
                if(detail_data[i][0]==info_id && detail_data[i][1]==im_key){
//                    result+=tpl_content.replace('{'+im_key+'}',detail_data[i][2]).replace("{im_id}",detail_data[i][4]);
                    result+=tpl_content.replace('{product_standard}',detail_data[i][2]).replace("{im_id}",detail_data[i][4]);
                }
            }
            return result;
        }
        /**
         * 根据子表中的ID和key返回值
         * @param im_id     //子表键名
         * @param im_key    //子表键值
         * @returns {*}
         */
        function getMetaByPid(im_id,im_key){
            for(var i=0;i<detail_data.length;i++)
            {
                //寻找他爹，也就是匹配该商品的价格，并且主键名字一致
                if(parseInt(detail_data[i][3])==im_id && detail_data[i][1]==im_key)
                {
                    /* 我的幻想
                     首先选择了  钛色 id=31
                     根据钛色ID寻找是否有以钛色ID为im_key的项目。
                     如果有，就需要查看关联的primary规格是否已经选择，选择了哪个id。
                     以这个primary的id为源去搜索这个id是否存在im_value中。
                     如果存在，那么说明主规格子规格都已经选好，根据pid找到他们的价格
                     */

                    /*
                     点击一个规格，获取他的主键ID im_id
                     用im_id去pid中找，找到他爹，也就是价格
                     然后用价格的唯一主键im_id去寻找以该值为im_key的项目
                     */

                    //这个relation是使用价格主键ID去获得关系
                    var im_relation=getMeta(product_id,detail_data[i][4],0);
//                    console.log('价格主键im_key: '+detail_data[i][4]);
                    if(im_relation>0)
                    {
//                        console.log('关联价格的主规格ID: '+im_relation);
                        //判断im_id=im_relation的规格是否被选中
//                        console.log($(".standard[im_id="+im_relation.toString()+"]").parents('li'));
                        if($(".standard[im_id="+im_relation.toString()+"]").parents('li').hasClass('selected'))
                        {
//                            console.log('im_id='+im_relation);
//                            console.log('catch!');
//                            console.log('----------------------------------------------------------------------------------');
                            return detail_data[i][2];
                        }
                    }
                    else
                    {
                        return detail_data[i][2];
                    }
                }
            }
            return 0;
        }
        function trim(str){
            return str.replace(/^\s*|\s*$/g,'');
        }
        function CartAnimate(ex){
            var img=$('.product-image').clone();
            $(img).css({
                'position':'fixed',
                'width':'50px',
                'height':'50px',
                'z-index':10000,
                top:ex.clientY,
                left:ex.clientX
            });
            $('.addToCart').parent().append(img);
            $(img).animate(
                    {
                        top:$('#cart')[0].getBoundingClientRect().top,
                        left:$('#cart')[0].getBoundingClientRect().left,
                    },
                    'slow',
                    'swing',
                    function(){
                        $(img).animate({
                                    opacity:0,
                                },
                                'normal',
                                'swing',
                                function(){
                                    $(img).remove();
                                    var cartNum=$('#cartScript');
                                    var cartParent=cartNum.parent();
                                    $("#cartScript").remove();
                                    $(cartParent).append(cartNum);
                                }
                        );
                    }
            );
        }
        $(document).ready(function(){
            var cartCount=0;
            $('.nav-tabs li').click(function(){
                $('.nav-tabs li').removeClass('active');
                $(this).addClass('active');
                return false;
            });
            $('.standard').click(function(){
                //说明点击了主规格中的选项
                if($(this).parents('ul').attr('primary')==1)
                {
                    //清空子规格选项
                    $("ul[primary='0']").find('li').removeClass('selected');
                    $("ul[primary='1']").find('li').removeClass('selected');
                }
                if($(this).parents('ul').attr('primary')==0)
                {
                    $("ul[primary='0']").find('li').removeClass('selected');
                }
                $(this).closest('li').addClass('selected');
                //点击规格切换价格
                var standard_price;
                standard_price=getMetaByPid($(this).attr('im_id'),'current_price');
                if(parseFloat(standard_price)>0)
                {
                    $('.current_price').html(standard_price);
                }
                else
                {
                    //如果没有找到对应的这个父ID，返回的价格就是0，那么就使用默认值来显示
                    $('.current_price').html(getMeta({$info.info_id},'current_price'));
                }
            });
            $('.addToCart').click(function(e){
                var btn=$(this);
                var ex=e||event;
                var pmeta='';
                var validate=true;
                $('.pmetaList').each(function(){
                    if($(this).find('.selected').length>0)
                    {
                        pmeta+=$(this).find('.selected').find('a').attr('im_id')+'_';
                    }
                    else
                    {
                        alert('请选择规格！');
                        return false;
                    }
                });
                if(pmeta!=''){
                    $.post(
                            '/Home/Cart/add_cart',
                            {
                                'pid':product_id,
                                'pmeta':pmeta
                            },
                            function(result){
                                if(trim(result)=='-1')
                                {
                                    self.location='/Home/login?from='+encodeURIComponent(window.location.href);
                                }
                                else
                                {
                                    if(result=='OK')
                                    {
                                        CartAnimate(ex);
                                    }
                                    else
                                    {
                                        alert(result);
                                    }
                                }
                            }
                    );
                }

            });
        });
    </script>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-8 column">
                <ul class="media-list">
                    <foreach name="info_data_main" item="info" >
                        <div class="page-header">
                            <h3 class="text-center">{$info.info_title}</h3>
                        </div>
                        <li class="media">
                            <div class="col-md-4 column">
                                <a class="media-left" href="#">
                                    <script>document.write('<img style="width:200px" class="product-image img-responsive" src="'+getMeta({$info.info_id},'bimg','/Public/images/none.jpg')+'"/>');</script>
                                </a>
                            </div>
                            <div class="col-md-8 column">
                                <ul class="well list-group price">
                                    <li class="list-group-item">
                                        <span class="text-muted">市场价：</span>
                                        <span> $</span>
                                        <span class="text-muted" style="text-decoration: line-through;">
                                            <script>
                                                document.write(getMeta({$info.info_id},'market_price','--'));
                                            </script>
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="text-muted">优惠价：</span>
                                        <span class="text-danger" style="font-size:30px;"> $</span>
                                        <span class="text-danger current_price" style="font-size:30px;">
                                            <script>
                                                document.write(getMeta({$info.info_id},'current_price','--'));
                                            </script>
                                        </span>
                                    </li>
                                </ul>
                                <ul class="col-md-10 col-md-offset-1 list-group list-inline text-center pmeta">
                                    <li class="list-group-item">
                                        <span class="text-danger">
                                            月销量：
                                        </span>
                                        <span>
                                            1000
                                        </span>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="text-danger">
                                            人气指数：
                                        </span>
                                        <span>
                                            <script>
                                                document.write(getMeta({$info.info_id},'product_popularity','--'));
                                            </script>
                                        </span>
                                    </li>
                                </ul>
                                <ul class="list-group list-inline text-center pmetaList" primary="1">
                                    <li class="list-group-item pm_name">
                                        <span class="text-danger">
                                            规格：
                                        </span>
                                    </li>
                                    <script>document.write(getMetaList({$info.info_id},'product','tpl_standard'))</script>
                                </ul>
                                <ul class="list-group list-inline text-center pmetaList" primary="0">
                                    <li class="list-group-item pm_name">
                                        <span class="text-danger">
                                            颜色：
                                        </span>
                                    </li>
                                    <script>document.write(getMetaList({$info.info_id},'product_color','tpl_standard'))</script>
                                </ul>
                                <div class="text-center btn-class">
                                    <button class="btn btn-danger btn-lg">
                                        <span class="glyphicon glyphicon-usd"></span> 立即购买
                                    </button>
                                    <button class="btn btn-warning btn-lg addToCart">
                                        <span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车
                                    </button>
                                </div>
                            </div>
                        </li>
                    </foreach>
                </ul>
                <ul>

                </ul>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#">商品详情</a></li>
                    <li><a href="#">商品评价</a></li>
                </ul>
                <p class="pcontent">
                    {$info.info_content}
                </p>

            </div>
            <div class="col-md-4 column">
                {:W('info/load',array(1))}
            </div>
        </div>

    </div>
</block>
